#content #contact {
  background-color: var(--color-navbar);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 64px;
  margin-top: 124px;
}
#content #contact > *{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}
#content #contact > * img{
  height: 20px;
  margin-right: 10px;
  filter: invert(var(--color-imgInvert));
  transform: translateY(2px);
  transition: 0.3s ease;
}
#content #contact > *:hover img{
  height: 22px;
}
#content #contact > * h2{
  font-size: 20px;
  font-weight: 500;
  color: var(--color-font);
  transition: 0.3s ease;
}
#content #contact > *:hover h2{
  font-size: 21px;
}
#content #contact > *:after {
  background-color: var(--color-accent);
  content: "";
  display: block;
  position: absolute;
  bottom: 8px;
  width: 0px;
  height: 4px;
  transition: 0.3s ease;
}
#content #contact > *:hover:after {
  width: calc(100% + 20px);
}