nav {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 64px;
  z-index: 1;
}

nav .navButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 128px;
  padding: 0px 24px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
nav .navButton h4 {
  color: var(--color-font);
}
nav .navButton h4:after {
  background-color: #00aaaa00;
  content: '';
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  top: 50%;
  left: 0px;
  z-index: -1;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
nav .navButton:hover h4:after {
  background-color: #008888;
  height: 100%;
  top: 0%;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
nav .navButton:active h4:after {
  height: 80%;
  top: 10%;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
nav #language {
  position: absolute;
  width: 180px;
  left: 0px;
}
nav #languageImage {
  height: 24px;
  margin-left: 10px;
  margin-top: 4px;
}
nav #theme {
  position: absolute;
  width: 180px;
  right: 0px;
}