#content #projects {
  /* background-color: green; */
  position: relative;
  display: flex;
  justify-content: center;
  padding: 64px 0px 300px 0px;
  width: 100%;
}
#content #projects #projectsList {
  /* background-color: orange; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
}
#content #projects #projectsList a {
  /* background-color: purple; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 260px;
  border-radius: 18px;
  box-shadow: 0px 0px 12px #000000;
  overflow: hidden;
}
/* Background image */
#content #projects #projectsList a img:nth-child(1) {
  object-fit: contain;
  position: absolute;
  height: 170%;
  filter: blur(4px);
}
/* Thumbnail */
#content #projects #projectsList a img:nth-child(2) {
  object-fit: contain;
  position: absolute;
  width: inherit;
  box-shadow: 0px 0px 10px 5px #000000;
}
/* Description div */
#content #projects #projectsList a .projectDesc {
  background-color: #000000bb;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  transform: translateY(100%);
  transition: ease-in-out 0.3s;
}
#content #projects #projectsList a:hover .projectDesc {
  transform: translateY(0%);
}