#content #projects {
  position: relative;
  display: block;
  width: 100%;
}
#content #projects a {
  color: var(--color-font);
  text-decoration: none;
}
#content #projects a .projectTile {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 220px;
  color: var(--color-font);
  text-align: left;
  box-sizing: border-box;
  padding: 0px 256px 0px 0px;
  transition: ease-in-out 0.6s;
}
#content #projects a:nth-child(odd) .projectTile {
  padding: 0px 0px 0px 256px;
}
#content #projects a .projectTile img {
  height: 100%;
  box-shadow: -100px 0px var(--color-accent);
}
#content #projects a:nth-child(odd) .projectTile img {
  box-shadow: 100px 0px var(--color-accent);
}
#content #projects a .projectTile div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0px 36px 64px;
  text-align: left;
}
/* Header */
#content #projects a .projectTile div p:nth-child(1) {
  width: 100%;
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  text-align: inherit;
}
/* Description */
#content #projects a .projectTile div p:nth-child(2) {
  margin: 0;
  font-size: 16px;
  line-height: 165%;
}
#content #projects a:nth-child(odd) .projectTile {
  background-color: var(--color-navbar);
  flex-direction: row-reverse;
}
#content #projects a:nth-child(odd) .projectTile div {
  padding: 36px 64px 36px 0px;
  text-align: right;
}
#content #projects a .projectTile:hover {
  transition: ease-in-out 0.3s;
}
#content #projects a:nth-child(even) .projectTile:hover {
  padding: 0px 220px 0px 36px;
}
#content #projects a:nth-child(odd) .projectTile:hover {
  padding: 0px 36px 0px 220px;
}