.theme-dark-blue {
  --color-navbar: #101010;
  --color-primary: #202020;
  --color-secondary: #303030;
  --color-accent: #008888;
  --color-font: #ffffff;
}
.theme-dark-purple {
  --color-navbar: #101010;
  --color-primary: #202020;
  --color-secondary: #303030;
  --color-accent: #700070;
  --color-font: #ffffff;
}
.theme-dark-green {
  --color-navbar: #101010;
  --color-primary: #202020;
  --color-secondary: #303030;
  --color-accent: #339933;
  --color-font: #ffffff;
}
.theme-dark-yellow {
  --color-navbar: #101010;
  --color-primary: #202020;
  --color-secondary: #303030;
  --color-accent: #aaaa00;
  --color-font: #ffffff;
}
.theme-light-blue {
  --color-navbar: #ffffff;
  --color-primary: #eeeeee;
  --color-secondary: #dddddd;
  --color-accent: #00cccc;
  --color-font: #000000;
}
.theme-light-purple {
  --color-navbar: #ffffff;
  --color-primary: #eeeeee;
  --color-secondary: #dddddd;
  --color-accent: #dd22dd;
  --color-font: #000000;
}
.theme-light-green {
  --color-navbar: #ffffff;
  --color-primary: #eeeeee;
  --color-secondary: #dddddd;
  --color-accent: #44dd44;
  --color-font: #000000;
}
.theme-light-yellow {
  --color-navbar: #ffffff;
  --color-primary: #eeeeee;
  --color-secondary: #dddddd;
  --color-accent: #eeee00;
  --color-font: #000000;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
  margin: 0;
  user-select: none;
  overflow-x: hidden;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
body * {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}